*
!*/
!/custom_components/**/*[.py, .yaml]
!/automations
!/groups
!/lights
!/scripts
!/themes
!/zones
!/sensors
!/customize
!/panels
!/travis

!*.y*ml
!.gitignore
!*.md

.storage
.cloud
.google.token
__pycache__

ip_bans.yaml
secrets.yaml
known_devices.yaml
