# Ignore everything
*

# Except all yaml files
!automations
!automations/areas
!automations/areas/attic
!automations/areas/bathroom
!automations/areas/basement
!automations/areas/bedroom
!automations/areas/downstairs
!automations/areas/hallway
!automations/areas/kitchen
!automations/areas/landing
!automations/areas/living_room
!automations/areas/nursery
!automations/home
!automations/sensors
!automations/system
!scenes
!scripts
!entities
!entities/input_booleans
!entities/groups
!entities/device_trackers
!entities/templates
!integrations
!recorder
!schedules
!schedules/attic
!schedules/bathroom
!schedules/bedroom
!schedules/downstairs
!schedules/hallway
!schedules/kitchen
!schedules/living_room
!schedules/nursery
!themes
!.stubs
!.github/
!.github/workflows
!**/*.yaml

# But including secrets.yaml
secrets.yaml

# Except custom shell scripts
!shell
!shell/*.sh

# And except JS files in www
!www
!www/*.js

# And except other miscellaneous files
!.gitignore
!.yamllint
!.prettierignore
!.prettierrc
!.vscode
!.vscode/settings.json
!README.md
