*
!*/
!/configuration/**/*[.py, .yaml]
!/custom_components/**/*[.py, .yaml, .json]
!/ci/**/*
!/.github/**/*
!/.vscode/**/*
!/.editorconfig

!*.y*ml
!.gitignore
!*.md

.storage
.cloud
.google.token
__pycache__

ip_bans.yaml
secrets.yaml
known_devices.yaml
