---
- alias: Plant Health
  trigger:
    - platform: numeric_state
      below: 80
      entity_id:
        - sensor.maranta_conductivity
    - platform: numeric_state
      below: 25
      entity_id:
        - sensor.maranta_moisture

  action:
    - service: notify.bertie_iphone
      data:
        message: "{{ state_attr(trigger.entity_id, 'friendly_name') }} needs attention"
